[submodule "vscode"]
	path = vscode
	url = https://github.com/rlisahuang/vscode
        branch = main
[submodule "html-insider"]
	path = html-insider
	url = https://github.com/rlisahuang/html-insider
        branch = main
